<!DOCTYPE html>
<html>
  <head>
    <title>Prescription</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <table class="container w100">
      <thead>
        <tr>
          <td>
            <table class="header w100 bordered">
              <tr>
                <td class="w60">
                  <h1>{{prescriber.name}}</h1>
                  <h2>{{prescriber.qualification}}</h2>
                  <h3>{{prescriber.registration}}</h3>
                </td>
                <td class="w40">
                  <p class="text">{{prescriber.address}}</p>
                  <p>{% if prescriber.contact %}Contact: {{prescriber.contact}}{% endif %}</p>
                  <p>{{prescriber.extra}}</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="prescription">
              <table class="w100 bordered nobottom">
                <tr><td class="rtxt" colspan="3"><small>{% if id %}ID: {{id}}{% endif %}</small></td></tr>
                <tr><td><h4>Name: {{name}}</h4></td><td><h4>Age: {{age}}</h4></td><td><h4>Sex: {{sex}}</h4></td></tr>
                <tr><td colspan="3"><small>{% if address %}Address: {{address}}{% endif %} {% if contact %}Contact: {{contact}}{% endif %} {% if extra %}({{extra}}){% endif %}</small></td></tr>
              </table>
              <table class="w100 bordered collapsed">
                <tr>
                  <td class="w40 bordered"><h4>Clinical Notes</h4></td>
                  <td class="w60 bordered"><h4>Advice</h4></td>
                </tr>
                <tr>
                  <td class="text bordered">
                    <p>{{note}}</p>
                    <p>{{report}}</p>
                  </td>
                  <td class="text bordered">
                    <p>{{medication}}</p>
                    <p>{{investigation}}</p>
                    <p>{{advice}}</p>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <table class="footer w100 bordered">
              <tr><td class="w75">{% if mode %}Consultation: {mode}}{% endif %}<br>{% if daw %}Dispense as written{% endif %}</td><td class="w25"><br><br></td></tr>
              <tr><td><h4>{{date.strftime("%B %d, %Y %I:%M %p")}}</h4></td><td class="sign"><h4>Signature</h4></td></tr>
            </table>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
